/*
body {
  background-color: Whitesmoke;
}

.navbar-header .navbar-brand {
  font-family: 'Condiment', cursive;
}*/

.user-info {
  margin-bottom: 10px;
}

.canceled {
  display: none;
  text-decoration: line-through;
}

.canceled #transaction-cancel-button {
  display: none;
  text-decoration: line-through;
}

#shop {
  min-height: 100vh;
}

.product {
  margin: 5px;
}

.navbar-fixed-bottom {
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.0);
}
