body {
  background-color: #FBFBFB;
}

header h1 {
  font-size: 3em;
  font-family: 'Condiment', cursive;
  font-weight: 400;
  padding-top: 15px;
}
header h1 a {
  color: black;
}
header h1 a:hover {
  color: grey;
}
header h1 a:link {
  text-decoration: none;
}

.product {
  margin: 5px;
}

.user-info {
  margin-bottom: 10px;
}

.canceled {
  display: none;
  text-decoration: line-through;
}
.canceled #transaction-cancel-button {
  display: none;
  text-decoration: line-through;
}
