version: '3'

services:
  nginx:
    build: docker-files/nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - namubufferi_static:/static
    depends_on:
      - namubufferi

  namubufferi:
    build: ./
    restart: unless-stopped
    environment:
      DEBUG: "false"
      NAMUBUFFERI_ALLOWEDHOSTS: "*"
      NAMUBUFFERI_GUNICORN_WORKERS: 1
      NAMUBUFFERI_DB: ${NAMUBUFFERI_DB}
      NAMUBUFFERI_SECRETKEY: ${NAMUBUFFERI_SECRET}
      NAMUBUFFERI_STATIC_URL: /static/
      NAMUBUFFERI_USE_SMTP: "true"
      SMTP_HOST: ${NAMUBUFFERI_SMTP_HOST}
      SMTP_PORT: ${NAMUBUFFERI_SMTP_PORT}
      SMTP_USER: ${NAMUBUFFERI_SMTP_USER}
      SMTP_PASSWORD: ${NAMUBUFFERI_SMTP_PASSWORD}
      SMTP_TLS: ${NAMUBUFFERI_SMTP_TLS}
      SMTP_SSL: ${NAMUBUFFERI_SMTP_SSL}
      NAMUBUFFERI_ADMIN_EMAILS: ${NAMUBUFFERI_ADMIN_EMAILS}
      NAMUBUFFERI_DEFAULT_FROM_EMAIL: ${NAMUBUFFERI_EMAIL_FROM}
    volumes:
      - namubufferi_static:/static

  postgres:
    image: postgres:11.3-alpine
    environment:
      POSTGRES_DB: ${NAMUBUFFERI_DB_NAME}
      POSTGRES_USER: ${NAMUBUFFERI_DB_USER}
      POSTGRES_PASSWORD: ${NAMUBUFFERI_DB_PASSWORD}
    volumes:
      - ${NAMUBUFFERI_DB_LOCATION}:/var/lib/postgresql/data

volumes:
  namubufferi_static: