[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
dj-database-url = "*"
django-admin-rangefilter = "*"
django = "~=5.2"

[dev-packages]
black = "*"
pylint = "*"
pre-commit = "*"

[pipenv]
allow_prereleases = true
