[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]
black = "*"
pylint = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
