{% extends 'registration/base.html' %}
{% load i18n %}

{% block subcontent %}
<div class="card shadow-xl border-2 w-full max-w-xs">
  <div class="p-4 grid grid-rows-2 justify-center items-center w-full max-w-xs gap-4">
    <div>
      <h1 class="text-lg">{% trans "Password Reset Complete" %}</h1>
      <p class="text-sm">{% trans "Your password has been successfully reset." %}</p>
    </div>
    <a href="{% url 'accounts:login' %}" class="btn btn-active btn-primary">{% trans "Go back" %}</a>
  </div>
</div>
{% endblock %}