{% extends 'registration/base.html' %}
{% load i18n %}
{% block subcontent %}
<div class="card shadow-xl border-2">
  <form method="POST" class="m-4 flex-col justify-center items-center">
    {% csrf_token %}
    <div class="form-control w-full max-w-xs">
      <p class="text-sm">{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>
      <label>{% trans "Email" %}</label>
      <input id="id_email" type="email" name="email" autocomplete="email" maxlength="254" required class="input input-bordered input-primary">
      <br/>
      <input type="submit" value="Send me instructions!" class="btn btn-active btn-primary mt-4">
    </div>
  </form>
</div>
{% endblock %}