{% extends "registration/base.html" %}
{% load i18n %}
{% block subcontent %}

<div class="card shadow-xl border-2 w-full max-w-xs">
  {% if validlink %}
    <form method="post" class="m-4 flex flex-col justify-center items-center">
      {% csrf_token %}
      {% include 'partials/form.html' with form=form %}
      <button type="submit" class="btn btn-active btn-primary mt-4 w-full">{% trans "Change password" %}</button>
    </form>
  {% else %}
  <div class="m-4 flex flex-col justify-center items-center gap-4">
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    <a href="{% url 'accounts:login' %}" class="btn btn-active btn-primary w-full">{% trans "Go back" %}</a>
  </div>
  {% endif %}
  </div>
{% endblock subcontent %}
