{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="grid justify-center items-center h-screen">
  <div class="card shadow-xl border-2 w-full max-w-xs m-4">
    <form method="post" class="m-4 flex flex-col justify-center items-center">
      {% csrf_token %}
      <div class="form-control w-full max-w-xs">
        {% include 'partials/form.html' with form=form %}
      <button type="submit" class="btn btn-active btn-primary mt-4 w-full">{% trans "Save" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
