{% for field in form %}
<div class="form-control w-full">
  {% if field.field.widget.input_type == 'select' %}
    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
    <select name="{{ field.html_name }}" id="{{ field.id_for_label }}"
          class="select select-primary">
    {% for value, label in field.field.choices %}
      <option value="{{ value }}" {% if value == field.value %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
    </select>
  {% else %}
    <label for="{{ field.id_for_label }}">
      {{ field.label_tag }}
    </label>
    <input  type="{{ field.field.widget.input_type }}" 
            id="{{ field.id_for_label }}" 
            name="{{ field.html_name }}"
            {% if field.field.widget.input_type == 'checkbox' %} class="toggle" 
            {% elif field.errors %} class="input input-bordered input-error w-full"
            {% else %} class="input input-bordered input-primary w-full" {% endif %}
            {% if field.value %}value="{{ field.value }}"{% endif %}>
    {% if field.errors %}
      <div class="text-xs text-error">{{ field.errors|join:", " }}</div>
    {% endif %}
  {% endif %}
</div>
{% endfor %}