{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'athene/style.css' %}" />
    <link rel="stylesheet" href="{% static 'singlepageapp/style.css' %}" />
    <title>Namubufferi</title>
  </head>
  <body>
    <div id="loader">
      <div class="spinner"></div>
    </div>
    <header>
      <div>
        <details id="burger">
          <summary><h1>Namubufferi</h1></summary>
          <div id="user">&nbsp;</div>
          <nav>
            <menu>
              <li><a href="#/account">Account</a></li>
              <li><a href="#/user">User</a></li>
              <li><a href="https://athene.fi" target="a_blank">Guild website</a></li>
            </menu>
          </nav>
        </details>
      </div>
    </header>
    <main>
      <section id="/account">
        <header>
          <nav>
            <div></div>
            <h2>
              <a href="#/account">Account</a>
            </h2>
            <div></div>
          </nav>
          <div id="balance">&nbsp;</div>
          <div>
            <a href="#/transaction">
              <svg class="symbol">
                <use
                  xlink:href="{% static 'singlepageapp/symbols.svg' %}#plus"
                ></use>
              </svg>
              Transaction
            </a>
          </div>
        </header>
        <table id="transactiontable">
          <caption>
            Latest Transactions
          </caption>
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Product</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <template id="transactionrow">
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </template>
        <footer>
          <nav>
            <ul>
              <li><a href="{% url 'terms:update' %}">User guide</a></li>
              <li><a href="{% url 'api:logout' %}">Log out</a></li>
            </ul>
          </nav>
        </footer>
      </section>
      <section id="/transaction">
        <header>
          <nav>
            <div>
              <a href="#/account">Cancel</a>
            </div>
            <h2><a href="#/transaction">Transaction</a></h2>
            <div>
              <button form="transactionform" type="submit">Submit</button>
            </div>
          </nav>
          <div>
            <input type="search" id="search" placeholder="Search" />
          </div>
        </header>
        <form id="transactionform">
          <input name="quantity" id="quantity" type="hidden" value="-1" />
          <fieldset id="productlist">
            <fieldset id="recentfieldset">
              <legend>Recent</legend>
              <div></div>
            </fieldset>
          </fieldset>
          <template id="productfieldset">
            <fieldset>
              <legend></legend>
              <div></div>
            </fieldset>
          </template>
          <template id="productradio">
            <label class="productradio">
              <input type="radio" name="product" />
              <span class="name"></span>
              <span class="price"></span>
            </label>
          </template>
        </form>
      </section>
      <section id="/user">
        <header>
          <nav>
            <div></div>
            <h2>User</h2>
            <div></div>
          </nav>
          <section>
            <p>Your username: <b>{{ request.user }}</b></p>
          </section>
        </header>
        <footer>
          <nav>
            <ul>
              <li><a href="{% url 'terms:update' %}">User guide</a></li>
              <li><a href="{% url 'api:logout' %}">Log out</a></li>
            </ul>
          </nav>
        </footer>
      </section>
    </main>
    <script src="https://unpkg.com/html5-qrcode@2.1.6/html5-qrcode.min.js"></script>
    <script type="module" src="{% static 'singlepageapp/main.js' %}"></script>
  </body>
</html>
