{% extends "namubufferiapp/base.html" %}
{% load bootstrap3 %}

{% block head %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock head %}

{% block content %}
<!-- User-Auth Section -->
<section id="user-auth" class="container text-center">
  <h3>Welcome.</h3>
  <form class="form-horizontal" id="magic-auth-form" action="/magic/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="input-group">
          {{ magic_auth_form.aalto_username }}
          <div class="input-group-addon">@aalto.fi</div>
        </div>
      </div>
    </div>
    <div class="form-group">
        <div class="g-recaptcha col-xs-12 col-sm-offset-4" data-sitekey="6LfUqSgTAAAAAEG8v5boWlz9lJU3f8ixsHM_oyt0"></div>
    </div>
    <button style="margin-top: 36px;" type="submit" class="btn btn-default">Authenticate</button>
    <p class="help-block">You will get an email with a login link.<br>
      No passwords or registration required.</p>
  </form>
</section>
{% endblock content %}
