{% extends "namubufferiapp/base.html" %}


{% block modals %}
<!-- Modals -->
<!-- Always try to place a modal's HTML code in a top-level position in your document to avoid other components affecting the modal's appearance and/or functionality. -->

<!-- Product buy confirmation Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel">
  <div class="modal-dialog namu-dialog" role="document">
    <div class="modal-content namu-modal-content">
      <div class="modal-header namu-modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  -->
        <span>Vahvista</span>
      </div>
      <div class="modal-body">
        <div class="namu-modal-product">
          <span id="product-modal-name"></span>
        </div>
        <div class="namu-modal-price">
          <span id="product-modal-price"></span>€
        </div>
      </div>
        <form id="buy-form" hidden action="/buy/" method="post">
          {% csrf_token %}
          <input id="product-modal-pk" hidden type="text" name="product_key" value="none">
        </form>
        <button type="button" class="btn btn-default btn-sm namu-btn namu-btn-red" data-dismiss="modal">Peru</button>
        <button type="submit" form="buy-form" class="btn btn-success namu-btn namu-btn-green">Osta</button>
    </div>
  </div>
</div>

<!-- Product buy decline Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="declineModalLabel">
  <div class="modal-dialog namu-dialog" role="document">
    <div class="modal-content namu-modal-content">
      <div class="modal-header namu-modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  -->
        <span>Ei tarpeeksi saldoa</span>
      </div>
      <div class="modal-body">
        <div class="namu-modal-product">
          <span id="product-modal-name"></span>
        </div>
        <div class="namu-modal-price namu-modal-price-red">
          <span id="product-modal-price"></span>€
        </div>
      </div>
        <form id="buy-form" hidden action="/buy/" method="post">
          {% csrf_token %}
          <input id="product-modal-pk" hidden type="text" name="product_key" value="none">
        </form>
        <button type="button" class="btn btn-default btn-sm namu-btn namu-btn" data-dismiss="modal">Palaa</button>
        <button type="submit" form="buy-form" class="btn btn-success namu-btn namu-btn">Lisää rahaa</button>
    </div>
  </div>
</div>

<!-- Product buy success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel">
  <div class="modal-dialog namu-dialog" role="document">
    <div class="modal-content namu-modal-content">
      <div class="modal-header namu-modal-header namu-success-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  -->
        <span>Onnistui!</span>
      </div>
      <div class="modal-body namu-modal-body">
        <div id="namu-modal-success">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 113 113" style="" xml:space="preserve">
            <style type="text/css">.st0{fill:none;stroke:#75C695;stroke-width:12;stroke-miterlimit:10;}</style>
            <path class="st0 GZfuZjRO_0" d="M28.6,59.8L52.1,81.3L84.4,31.7"></path>
            <path class="st0 GZfuZjRO_1" stroke-linecap="round" d="M6,56.5A50.5,50.5 0,1,1 107,56.5A50.5,50.5 0,1,1 6,56.5"></path>
            <style>.GZfuZjRO_0{stroke-dasharray:92 94;stroke-dashoffset:93;animation:GZfuZjRO_draw 533ms ease-in-out 0ms forwards;}.GZfuZjRO_1{stroke-dasharray:318 320;stroke-dashoffset:319;animation:GZfuZjRO_draw 533ms ease-in-out 266ms forwards;}@keyframes GZfuZjRO_draw{100%{stroke-dashoffset:0;}}@keyframes GZfuZjRO_fade{0%{stroke-opacity:1;}92%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Deposit Modal TODO: fix the num input -->
<div class="modal fade" id="moneyModal" tabindex="-1" role="dialog" aria-labelledby="moneyModalTitle">
  <div class="modal-dialog namu-dialog" role="document">
    <div class="modal-content namu-modal-content">
      <div class="modal-header namu-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="moneyModalTitle">
            Balance
          <span class="balance {% if user.account.balance < 0 %}text-danger{% endif %}">
            {{ user.account.balance }}€
        </h4>
      </div>
      <div class="modal-body namu-modal-body">
        <div class="namu-modal-deposit-leftcolumn">

          <form class="form-inline" id="money-form" action="/deposit/" method="post">
            <div class="form-group namu-modal-deposit-form">
              <div class="input-group">
                {{ money_form.euros }}
                <div class="input-group-addon hidden">.</div>
                {{ money_form.cents }} <!-- Hidden in forms.py by hide-class -->
                <div class="input-group-addon" style="padding:6px 6px;font-size:1.25em;">€</div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" form="money-form" class="btn btn-success namu-btn namu-btn-green">
                Lisää saldoa
              </button>
            </div>

          </form>
        </div>
        <div class="namu-modal-deposit-rightcolumn">
          <a href="/logout" class="btn btn-default namu-btn namu-btn-deposit-fix">
            Logout {% comment %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endcomment %}
          </a>

          <button type="button" class="btn btn-default namu-btn namu-btn-deposit-fix" data-toggle="modal" data-target="#historyModal">
            History {% comment %}<span class="glyphicon glyphicon-list glyphicon-lg" aria-hidden="true"></span>{% endcomment %}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Transaction History Modal -->
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel">
  <div class="modal-dialog namu-dialog-larger" role="document">
    <div class="modal-content namu-modal-content">
      <div class="modal-header namu-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <small> History</small>
      </div>
      <div class="modal-body">
        <div class="checkbox">
          <label>
            <input id="historycheckbox" type="checkbox"/> Display canceled
          </label>
        </div>
        <div id="history">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default namu-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Transaction Receipt Modal -->
<div id="receiptModal" class="modal fade" tabindex="-1" role="dialog" data-transactionkey="">
  <div class="modal-dialog namu-dialog-larger">
    <div class="modal-content namu-modal-content">
      <div class="modal-header namu-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Receipt</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>Date</td>
            <td id="timestamp"></td>
          </tr>
          <tr>
            <td>Customer</td>
            <td id="customer"></td>
          </tr>
          <tr>
            <td>Product</td>
            <td id="product"></td>
          </tr>
          <tr>
            <td>Amount</td>
            <td id="amount"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <form hidden action="/cancel/" method="post" id="cancelform">
          {% csrf_token %}
          <input id="transaction_key" type="text" name="transaction_key" value="">
        </form>
        <button id="transaction-cancel-button" type="submit" form="cancelform" class="btn btn-default namu-btn namu-btn-red">
          Cancel Transaction
        </button>
        <button type="button" class="btn btn-default namu-btn" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock modals %}

{% block content %}
<!-- Shop Section -->
<section id="shop" class="container text-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group namu-search">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input class="form-control namu-search-form" id="search" name="search" placeholder="Hae tuotteita" type="text" data-list=".list"> <!-- .list class for hideseek search -->
      </div>
    </div>
  </div>
  <span id="products"></span>
  {% for category in categories %}
  <div class="list row"> <!-- .list class for hideseek search -->
    <div class="col-xs-12">
      <h4><strong>{{ category.name }}</strong></h4>
    </div>
    {% for product in products %}
    {% if product.category.name == category.name %}
    <button
      type="button"
      class="namu-button"
      data-toggle="modal"
      data-target="#productModal"
      data-productkey="{{ product.pk }}"
      data-productname="{{ product.name }}"
      data-productcategory="{{ product.category }}"
      data-productprice="{{ product.price }}"
      data-productinventory="{{ product.inventory }}">
      <span class="namu-name">
        <span class="namu-center">
          {{ product.name }}
        </span>
      </span>
      <span class="namu-price">
        {{ product.price }}€
        <span hidden>{{ product.category }}</span>
      </span>
    </button>
    {% endif %}
    {% endfor%}
  </div>
  {% endfor %}
</section>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid text-center">
    <button type="button" class="btn btn-primary btn-lg navbar-btn"  data-toggle="modal" data-target="#moneyModal">
        {{ user }}
        <span class="balance {% if user.account.balance < 0 %} text-danger{% endif %}">
        {{ user.account.balance }}€
      </span>
    </button>
  </div>
</nav>
{% endblock content %}
