{% extends "namubufferiapp/base.html" %}


{% block modals %}
<!-- Modals -->
<!-- Always try to place a modal's HTML code in a top-level position in your document to avoid other components affecting the modal's appearance and/or functionality. -->

<!-- Product info/buy Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="productModalLabel">Buy <em id="product-modal-name"></em>?</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>Price</td>
            <td><span id="product-modal-price"></span>€</td>
          </tr>
          <tr>
          <td>Stock</td>
          <td><span id="product-modal-inventory"></span></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <form id="buy-form" hidden action="/buy/" method="post">
          {% csrf_token %}
          <input id="product-modal-pk" hidden type="text" name="product_key" value="none">
        </form>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
        <button type="submit" form="buy-form" class="btn btn-success">Buy</button>
      </div>
    </div>
  </div>
</div>

<!-- Deposit Modal -->
<div class="modal fade" id="moneyModal" tabindex="-1" role="dialog" aria-labelledby="moneyModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="moneyModalTitle">
            Balance
          <span class="balance {% if user.userprofile.balance < 0 %}text-danger{% endif %}">
            {{ user.userprofile.balance }}€
          </span>
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" id="money-form" action="/deposit/" method="post">
          <div class="form-group">
            <div class="input-group">
              {{ money_form.euros }}
              <div class="input-group-addon">.</div>
              {{ money_form.cents }}
              <div class="input-group-addon">€</div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" form="money-form" class="btn btn-success">
                Add MONNNEYYY!
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <a href="/logout" class="btn btn-default btn-block">
              Logout {% comment %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endcomment %}
            </a>
          </div>
          <div class="col-xs-6">
            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#historyModal">
              History {% comment %}<span class="glyphicon glyphicon-list glyphicon-lg" aria-hidden="true"></span>{% endcomment %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Transaction History Modal -->
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="historyModalLabel">History<small> 5 Most Recent</small></h4>
      </div>
      <div class="modal-body">
        <div class="checkbox">
          <label>
            <input id="historycheckbox" type="checkbox"/> Display canceled
          </label>
        </div>
        <div id="history">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Transaction Receipt Modal -->
<div id="receiptModal" class="modal fade" tabindex="-1" role="dialog" data-transactionkey="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Receipt</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>Date</td>
            <td id="timestamp"></td>
          </tr>
          <tr>
            <td>Customer</td>
            <td id="customer"></td>
          </tr>
          <tr>
            <td>Product</td>
            <td id="product"></td>
          </tr>
          <tr>
            <td>Amount</td>
            <td id="amount"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <form hidden action="/cancel/" method="post" id="cancelform">
          {% csrf_token %}
          <input id="transaction_key" type="text" name="transaction_key" value="">
        </form>
        <button id="transaction-cancel-button" type="submit" form="cancelform" class="btn btn-danger btn-sm">
          Cancel Transaction
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock modals %}

{% block content %}
<!-- Shop Section -->
<section id="shop" class="container text-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input class="form-control" id="search" name="search" placeholder="Search for products" type="text" data-list=".list"> <!-- .list class for hideseek search -->
      </div>
    </div>
  </div>
  <span id="products"></span>
  {% for category in categories %}
  <div class="list row"> <!-- .list class for hideseek search -->
    <div class="col-xs-12">
      <h4><strong>{{ category.name }}</strong></h4>
    </div>
    {% for product in products %}
    {% if product.category.name == category.name %}
    <div class="col-xs-6 col-sm-3">
      <button
        type="button"
        class="btn btn-default btn-block btn-lg product"
        data-toggle="modal"
        data-target="#productModal"
        data-productkey="{{ product.pk }}"
        data-productname="{{ product.name }}"
        data-productcategory="{{ product.category }}"
        data-productprice="{{ product.price }}"
        data-productinventory="{{ product.inventory }}">
        {{ product.name }} <br>
        {{ product.price }}€ <br>
        <span hidden>{{ product.category }}</span>
      </button>
    </div>
    {% endif %}
    {% endfor%}
  </div>
  {% endfor %}
</section>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid text-center">
    <button type="button" class="btn btn-primary btn-lg navbar-btn" data-toggle="modal" data-target="#moneyModal">
        {{ user }}
        <span class="balance {% if user.userprofile.balance < 0 %} text-danger{% endif %}">
        {{ user.userprofile.balance }}€
      </span>
    </button>
  </div>
</nav>
{% endblock content %}
