{% extends "namubufferiapp/base.html" %}
{% load render_bundle from webpack_loader %}


{% block head %}
{% endblock head %}

{% block content %}
<!-- User-Auth Section -->
<section id="user-auth" class="container-fluid text-center">
  <h3>Welcome, please show your tag!</h3>

  <!-- Normally hidden form for tag login -->
  <form class="form-horizontal" id="tag-auth-form" action="{% url 'tag_auth' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="input-group">
          {{ tag_auth_form.tag_uid }}
          <div class="input-group-addon">
            <button type="submit" class="btn btn-default">Authenticate</button>
          </div>
        </div>
        <p id="tag-auth-error" class="help-block hidden">Tag not found</p>
      </div>
    </div>
  </form>

  <div class="panel panel-default col-sm-12">
    <h3>Or, login by aalto-email</h3>
    <p class="help-block">1. Enter your <strong>Aalto</strong> email</p>

    <form class="form-horizontal" id="magic-auth-form" action="/magic/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            {{ magic_auth_form.email }}
        </div>
      </div>
      <p class="help-block">2. Click button to send your login code</p>
      <button style="margin-top: 36px;" type="submit" class="btn btn-default">Send code</button>

      <div class="form-group" style="text-align: center; width: 70%; margin-left: 15%;">
          <div class="input-group" style="width: 100%;">
            <p class="help-block">3. Enter the code you received to here</p>
            <input type="text" class="form-control" id="magicCode" placeholder="Login code: ASD1F">
            <button type="submit" class="btn btn-default" id="magicCodeLoginButton">Login</button>
          </div>
        </div>
    </form>
  </div>
  <div class="panel panel-default col-sm-12">
    <h3>Or pay without logging in</h3>
    <a href="{% url 'home_anonymous' %}" class="btn btn-lg btn-success btn-block" style="padding: 5em 0;">
      Or pay with cash
    </a>
  </div>
</section>
{% endblock content %}

{% block own_bundles %}
{% render_bundle 'loginview' %}
{% endblock own_bundles %}
