{% load i18n %} 
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NAMUBUFFERI by Tietskarijengi</title>

    <!-- Bootstrap Core CSS -->
    {% bootstrap_css %}
    
    <!-- Custom CSS -->
    {% load staticfiles %}
    <link href="{% static "namubufferiapp/style.css" %}" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shma and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    <div class="container text-center">
        <h1>Namubufferi</h1><h4> by Tietskarijengi</h4>
    </div>

    <!-- User Section -->
    <section id="user" class="container content-section text-center">
        {% if user.is_authenticated %}

        <h4>Kirjautunut: <strong>{{ user }}</strong></h4>
        <h3>Saldo: {{ user.userprofile.balance }}€</h3>

        <div class="row">
            <a href="/deposit/123" type="button" class="btn btn-default btn-lg">
                <p class="glyphicon glyphicon-plus" aria-hidden="true"></p> <p>Lisää rahaa</p>
            </a>
            <a href="/logout" type="button" class="btn btn-default btn-lg">
                <p class="glyphicon glyphicon-log-out" aria-hidden="true"></p> <p>Kirjaudu ulos</p>
            </a>
        </div>
        {% endif %}

        <div class="row">
                {% if upload_message %}
                <div class="row">
                    <div class="alert alert-success col-xs-4 col-xs-offset-4 fade in">
                        <a href="/cancel" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Ostit <strong>{{ upload_message }}</strong> Peru->
                    </div>
                </div>
                {% endif %}
                {% if not user.is_authenticated %}
                {% if not register_message %}
            <div class="col-lg-4 col-lg-offset-2">
                {% else %}
            <div class="col-lg-4 col-lg-offset-4">f
            {% endif %}
                <h3>Kirjaudu sisään.</h3>
                {% if register_message %}
                    <div class="alert alert-success fade in row">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Rekisteröityminen onnistui.</strong> {{ register_message }}
                    </div>
                {% endif %}
                <div class="toggle-login" {% if request.get_full_path = "/" %}{% endif %}>
                    <form action="/login/#user" method="post" class="form-signin">
                        {% csrf_token %}
                        {% if signin_form %}
                            {% bootstrap_form signin_form %}
                        {% else %}
                            {% bootstrap_form form %}
                        {% endif %}
                        {% buttons %}
                        <button type="submit" class="btn btn-default btn-lg">
                        Kirjaudu sisään.
                        </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            {% if not register_message %}
            <div class="col-lg-4">
                <h3>Rekisteröidy.</h3>
                <div class="toggle-login">
                    <form action="/register/#user" method="post" class="form-signin">
                        {% csrf_token %}
                        {% bootstrap_form register_form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-default btn-lg">
                        Rekisteröidy.
                        </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            {% endif %} 
            {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                <hr>
                    <h2>Valitse tuote</h2>   
                    <input id="search" name="search" placeholder="Start typing here" type="text" data-list=".list">
                    <div class="list">
                      <span class="img-thumbnail"><a href="/buy/paskaa" title={{ photo.title }}>LEgit shit</a></span>
                      <span class="img-thumbnail"><a href="/buy/paskaa" title={{ photo.title }}>ribbee</a></span>
                      <span class="img-thumbnail"><a href="/buy/paskaa" title={{ photo.title }}>pulunpaskaa</a></span>
                      <span class="img-thumbnail"><a href="/buy/paskaa" title={{ photo.title }}>koiraa</a></span>
                      <span class="img-thumbnail"><a href="/buy/paskaa" title={{ photo.title }}>eläin</a></span>
                      <span class="img-thumbnail"><a href="/buy/paskaa" title={{ photo.title }}>lintu</a></span>
                    </div>
            </div>
        </div>
            {% endif %}
    </section>

    <!-- Footer -->
    <footer>
    <hr>
        <div class="container text-center">
            <p>&copy; Tietskarijengi 2016</p>
             <p><small><small>The app is based on Bootstrap including third party Bootstrap components: Bootstrap Grayscale theme and Bootstrap Image Gallery. Licenced under Apache 2.0 and MIT respectively.</small></small></p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    {% bootstrap_javascript %}
    
    <!-- HideSeek Search Plugin TODO: chande CDN-->
    <script type="text/javascript" src="http://vdw.github.io/HideSeek/javascripts/vendor/jquery.hideseek.min.js"></script>

    <!-- Additional Hideseek BS javascript enable if doesn't work.
    <script type="text/javascript" src="http://vdw.github.io/HideSeek/javascripts/vendor/rainbow-custom.min.js"></script>
    <script type="text/javascript" src="http://vdw.github.io/HideSeek/javascripts/vendor/jquery.anchor.js"></script>
    <script type="text/javascript" src="http://vdw.github.io/HideSeek/javascripts/initializers.js"></script>
    -->
    <!-- Namubufferi custom JavaScript-->

    <script type="text/javascript">
        $( document ).ready(
        $('#search').hideseek()
    );
    </script>
</body>

</html>
