{% extends "namubufferiapp/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <a href="/logout" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
    Log out
  </a>
{% endblock header %}


{% block content %}

<!-- User-Info Section -->
<section id="user-info" class="container text-center">
  <h4>User: {{ user }}</h4>
  <h4>You are logged in as an admin.<br>
  Please log in as a normal user to use namupankki</h4>
  <a href="/admin" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    Admin panel
  </a>
</section>


{% endblock content %}
