{% extends "namubufferiapp/base.html" %}
{% load render_bundle from webpack_loader %}


{% block modals %}
<!-- Modals -->
<!-- Always try to place a modal's HTML code in a top-level position in your document to avoid other components affecting the modal's appearance and/or functionality. -->

{% include "namubufferiapp/product_modal.html" %}
{% include "namubufferiapp/deposit_modal.html" %}
{% include "namubufferiapp/transactionhistory_modal.html" %}
{% include "namubufferiapp/receipt_modal.html" %}
{% include "namubufferiapp/tag_modal.html" %}
{% endblock modals %}

{% block content %}
<!-- Shop Section -->
<section id="shop" class="container text-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input class="form-control" id="search" name="search" placeholder="Search for products" type="text" data-list=".list"> <!-- .list class for hideseek search -->
      </div>
    </div>
  </div>
  <span id="products"></span>
  {% for category in categories %}
  <div class="list row"> <!-- .list class for hideseek search -->
    <div class="col-xs-12">
      <h4><strong>{{ category.name }}</strong></h4>
    </div>
    {% for product in products %}
    {% if product.category.name == category.name and not product.hidden %}
    <div class="col-xs-6 col-sm-3">
      <button
        type="button"
        class="btn btn-default btn-block btn-lg product"
        data-toggle="modal"
        data-target="#productModal"
        data-productkey="{{ product.pk }}"
        data-productname="{{ product.name }}"
        data-productcategory="{{ product.category }}"
        data-productprice="{{ product.price }}"
        data-productinventory="{{ product.inventory }}">
        {{ product.name }} <br>
        {{ product.price }}€ <br>
        <span hidden>{{ product.category }}</span>
      </button>
    </div>
    {% endif %}
    {% endfor%}
  </div>
  {% endfor %}
</section>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid text-center">
      <div class="row">
          <div class="col-xs-4">
            <a href="/logout" class="btn btn-primary btn-lg navbar-btn">
              Logout {% comment %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endcomment %}
            </a>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-primary btn-lg navbar-btn" data-toggle="modal" data-target="#moneyModal">
                Handle money - {{ user }}
                <span class="balance {% if user.account.balance < 0 %} text-danger{% endif %}">
                {{ user.account.balance }}€
              </span>
            </button>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-primary btn-lg navbar-btn" data-toggle="modal" data-target="#tagModal">
              Manage login tags
            </button>
          </div>
        </div>
  </div>
</nav>

{% endblock content %}

{% block own_bundles %}
{% render_bundle 'homeview' %}
{% endblock own_bundles %}
