{% extends "namubufferiapp/base.html" %}
{% load bootstrap3 %}

{% block content %}


<!-- Register Modal -->
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="authModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <form action="/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form register_form %}
            {% buttons %}
            <button type="submit" class="btn btn-default btn-lg">
            Register
            </button>
            {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
</div>


<!-- User-Auth Section -->
<section id="user-auth" class="container text-center">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <h3>Welcome</h3>
      <div class="toggle-login">
        <form action="/login/" method="post">
          {% csrf_token %}
          {% bootstrap_form form %} {# Note: Login form gets passed as 'form' by the django default login view  #}
          {% buttons %}
          <button type="submit" class="btn btn-default btn-block btn-lg">Log in</button>
          {% endbuttons %}
        </form>
        <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#authModal">
          <span class="glyphicon glyphicon-heart-empty"></span> Register
        </button>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
