{% extends "namubufferiapp/base.html" %}


{% block header %}
  <a href="/logout" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
    Log out
  </a>
{% endblock header %}


{% block content %}
<!-- User-Info Section -->
<section id="user-info" class="container text-center alert-danger">
  <h4>Maintenance mode!</h4>
  <a href="/admin" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    Admin panel
  </a>
</section>
{% endblock content %}
