<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="productModalLabel">Buy <em id="product-modal-name"></em>?</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>Price</td>
            <td><span id="product-modal-price"></span>€</td>
          </tr>
          <tr>
          <td>Stock</td>
          <td><span id="product-modal-inventory"></span></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <form id="buy-form" hidden action="/buy/" method="post">
          {% csrf_token %}
          <input id="product-modal-pk" hidden type="text" name="product_key" value="none">
        </form>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
        <button type="submit" form="buy-form" class="btn btn-success" autofocus>Buy</button>
      </div>
    </div>
  </div>
</div>

