
<!-- Dynamic Transaction Receipt Modal content TODO: Better result could be achieved with js-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Receipt</h4>
  </div>
  <div class="modal-body">
    <table class="table">
      <tr>
        <td>Date</td>
        <td>{{ receipt.timestamp }}</td>
      </tr>
      <tr>
        <td>Customer</td>
        <td>{{ receipt.customer }}</td>
      </tr>
      <tr>
        <td>Product</td>
        <td>{{ receipt.product }}</td>
      </tr>
      <tr>
        <td>Amount</td>
        <td>{{ receipt.amount }}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <form hidden action="{% url 'cancel' %}" method="post" id="cancelform">
      {% csrf_token %}
      <input type="text" name="transaction_key" value="{{ receipt.pk }}">
    </form>
    <button type="submit" form="cancelform" class="btn btn-danger btn-sm">
      Cancel Transaction
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div><!-- /.modal-content -->
