<div class="modal fade" id="tosModal" tabindex="-1" role="dialog" aria-labelledby="tosModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tosModalTitle">
            GDPR-terveiset
        </h4>
      </div>
      <div class="modal-body">
        <p>
            Sähköpiikki kerää käyttäjiltä seuraavia tietoja:
            <ul style="list-style: none;">
              <li>Sähköposti</li>
              <li>Kirjautumisessa käytetyn kortin numerosarja. (säilytetään hashattuna)</li>
              <li>Rekisteröitymispäivämäärä</li>
              <li>Ostohistoria</li>
              <li>Ostohistoriasta laskettu saldo</li>
            </ul>
        </p>
        <p>Yllä mainittujen tietojen kerääminen on toiminnan kannalta oleellista ja ehto palvelun käytölle.</p>
        <p>Askipiikin rekisterinpitäjänä toimii Automaatio- ja systeemitekniikan kilta ry. ja sitä hallinnoi Askitoimikunta, sekä piikin ylläpidosta vastaava henkilö. Askitoimikunnan yhteystiedot löydät killan nettisivuilta as.fi/kilta.</p>
        <p>Tietosi poistetaan, kun viimeisestä ostotapahtumastasi on yli 12kk aikaa ja viimeistään 24kk jälkeen. Voit myös pyytää tietojasi poistettavaksi ASkitoimikunnalta.</p>
        <p>Väärinkäyttötapauksissa tai epäillyissä voidaan tietoja luovuttaa killan hallitukselle jatkokäsittelyä varten.</p>

        <button id="acceptTosButton" class="btn btn-default btn-success" >
          Hyväksyn tietojeni käsittelyn yllä mainitulla tavalla
        </button>

        <a href="/logout" autofocus class="btn btn-default btn-danger" >
          En hyväksy
        </a>
      </div>
    </div>
  </div>
</div>

