.logo h1,
p {
  text-align: center;
  margin: 0 auto;
}

.barcode {
  font-family: 'Libre Barcode 128';
  font-size: 4.05em;
  margin-left: 0.05em;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16pt;
}

body > * {
  margin-bottom: 1em;
}

h1 > a {
  text-decoration: none;
  color: var(--athene-body);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > * {
  margin: 1em;
}

.errorlist {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: red;
  font-size: small;
  position: absolute;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: var(--athene-bg);
  text-align: center;
  border-top: solid 1px;
  border-color: lightgray;
  padding-bottom: var(--padding);
}

footer > nav > ul {
  list-style: none;
  padding: 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: flex-start;
  height: 100%;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
}

.field-wrapper * {
  margin-top: 2px;
}

.field-wrapper input{
  width: 500px;
 }

.help-text {
  max-width: 500px;
}

@media screen and (max-width: 600px) {
  .field-wrapper input{
    width: 300px;
   }
  .help-text {
    max-width: 300px;
  }
}
