.logo h1,
p {
  text-align: center;
  margin: 0 auto;
}

.barcode {
  font-family: 'Libre Barcode 128';
  font-size: 4.05em;
  margin-left: 0.05em;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16pt;
}

body > * {
  margin-bottom: 1em;
}

h1 > a {
  text-decoration: none;
  color: var(--athene-body);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > * {
  margin: 1em;
}

.errorlist {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: red;
  font-size: small;
  position: absolute;
}
