@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');

:root {
  --athene-bg: #f5f5f5;
  --athene-body: #333;
  --athene-green: #355e3b;
  --athene-green-medium: #5e8c64;
}

body {
  background-color: var(--athene-bg);
  color: var(--athene-body);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 800;
}

a {
  color: var(--athene-green-medium);
  text-decoration: none;
  font-weight: 600;
}

:is(h1, h2, h3, h4, h5, h6) > a {
  font-weight: 800;
}

input[type='submit'],
button {
  background-color: var(--athene-green);
  color: white;
  font-weight: 500;
}

input,
select,
button {
  font-size: 1rem;
  border-radius: 1em;
  padding: 0.5em;
  border: 0;
}
