{% extends 'landing/base.html' %}

{% block content %}
    <form method='post'>
        {% csrf_token %}
        {% for field in form %}
            <div class='field-wrapper'>
                {{ field.errors }}
                <label for={{ field.id_for_label }}>{{ field.label }}</label>
                {{ field }}
                
                <div class='help-text'>{{ field.help_text }}</div>
            </div>
        {% endfor %}
        <input type="submit" value="Create User">
    </form>
{% endblock %}