{% extends 'base.html' %}

{% block content %}
<h2>Add funds</h2>

<form action="/add" method="POST" x-data="{ amount: 5 }" x-init="amount = document.querySelector('input[name=amount]:checked').value">
  {% csrf_token %}
  <input type="hidden" name="amount" x-bind:value="amount">
  <label>Choose an amount:</label>
  <br>
  <input type="radio" id="amount-5" name="amount" x-model="amount" value="5" checked>
  <label for="amount-5">5€</label>
  <br>
  <input type="radio" id="amount-10" name="amount" x-model="amount" value="10">
  <label for="amount-10">10€</label>
  <br>
  <input type="radio" id="amount-20" name="amount" x-model="amount" value="20">
  <label for="amount-20">20€</label>
  <br>
  <label>Or enter a custom amount:</label>
  <br>
  <input type="number" id="custom-amount" x-model="amount" min="1" step="1" x-on:change="amount = $event.target.value">
  <br>
  <label>Choose a payment method:</label>
  <br>
  {% for payment_method in available_payment_methods %}
  <input type="radio" id="payment-method-{{ payment_method }}" name="payment-method" value="{{ payment_method }}">
  <label for="payment-method-{{ payment_method }}">{{ payment_method|title }}</label>
  <br>
  {% endfor %}
  <button type="submit">Submit</button>
</form>

{% endblock content %}