{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="card shadow-xl border-2 mt-20 mb-4 mx-2 py-4">
  {% if not all_transactions_list %}
    <p>{% trans "No transactions found. You can buy for first product" %}😉 - <a href="{% url 'ledger:buy'%}">Link</a></p>
  {% else %}
  <div class="overflow-x-auto mx-8 border rounded-2xl">
    <table class="table table-zebra text-center bg-base-300">
      <thead>
        <tr>
          <th>{% trans "Concept" %}</th>
          <th>{% trans "Price" %}</th>
          <th>{% trans "Timestamp" %}</th>
        </tr>
      </thead>
      {% for transaction in all_transactions_list %}
      <tr>
        <td>{{ transaction.concept|default:'Not specified' }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.timestamp }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="flex flex-row justify-center items-center my-2">
    <div class="join items-center gap-1">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn btn-active btn-secondary">Prev</a>
        <a href="?page=1" class="join-item btn">1</a>
        {% if page_obj.number == page_obj.paginator.num_pages %}
        <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn">{{ page_obj.previous_page_number }}</a>
        {% endif %}
      {% endif %}
      <a href="?page={{ page_obj.number }}" class="join-item btn btn-active">{{ page_obj.number }}</a>
      {% if page_obj.has_next %}
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
          <a href="?page={{ page_obj.next_page_number }}" class="join-item btn">{{ page_obj.next_page_number }}</a>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn">{{ page_obj.paginator.num_pages }}</a>
        <a href="?page={{ page_obj.next_page_number }}" class="join-item btn btn-active btn-secondary">Next</a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}