{% extends "base.html" %}

{% block content %}
<form method="POST" action="{% url 'ledger:buy' %}" x-on:submit="confirmPurchase($event)">
  {% csrf_token %}
  <div class="sticky bg-base-100">
    <div class="top-3 z-50">
      <div class="flex justify-between items-center">
        <a href="{% url 'ledger:index' %}" class="link link-hover">Go back</a>
        <button type="submit" class="btn btn-primary justify-end ">Buy</button>
      </div>
      <div class="form-control">
        <input type="text" x-model="search" placeholder="Search" class="input input-bordered input-primary w-full">
      </div>
      <br/>
      <select class="select select-bordered w-full" @change="tag = $event.target.value">
        <option selected>All</option>
        {% for tag in tags %}
          <option>{{ tag.name }}</option>
          {% endfor %}
      </select>
    </div>
  </div>
  <div
    x-data="{tag: 'All', products: [], search: ''}"
    x-init="products = await (await fetch('/product-list')).json()">
    <br>
    <br/>
    <br/>
    <template x-for="product in products.filter(f => tag === 'All' || f.tags.includes(tag)).filter(f => f.name.toLowerCase().includes(search.toLowerCase()))">
        <div class="card bg-base-100 shadow-xl">
          <input type="hidden" name="product_id" x-model="product.id">
          <div class="card-body flex-col justify-between">
            <div>
              <h2 class="card-title mr-auto" x-text="product.name"></h2>
              <h3 class="card-subtitle" x-text="product.price + '€'"></h3>
              <div class="card-actions">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
          </div>
        </div>
        <br>

          {% comment %} <small x-text="product.tags.join(', ')"></small> {% endcomment %}
      </form>
    </template>
  </div>

<script>
  function confirmPurchase(event) {
    if (!confirm("Are you sure you want to buy this product?")) {
      event.preventDefault();
    }
  }
</script>
{% endblock %}
