{% extends "base.html" %}
{% block content %}
<div class="flex flex-col w-full">
  <div class="flex mx-auto items-center gap-10">
    <a href="{% url 'ledger:buy' %}" class="btn btn-active btn-primary w-36">Buy a Product</a>
    <a href="{% url 'ledger:transfer' %}" class="btn btn-active btn-secondary w-36">Transfer</a>

  </div>
  <div class="divider"></div>
  <div class="rounded-box bg-primary place-items-center text-primary-content">
    <div class="stat">
      <div class="stat-title">Account balance</div>
      <div class="stat-value">{{ user.balance }}€</div>
      <div class="stat-actions">
        <a href="{% url 'ledger:funds' %}" class="btn btn-sm btn-success w-36 h-10">Add funds</a>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="h-20">
    <a href="{% url 'ledger:all' %}" class="btn btn-active btn-ghost w-36">All my past transactions</a>
  </div>
  {% if latest_transactions_list %}
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>Concept</th>
          <th>Price</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      {% for transaction in latest_transactions_list %}
        <tr>
          <td>{{ transaction.concept|default:'Not specified' }}</td>
          <td>{% if transaction.amount > 0 %}+{% endif %}{{ transaction.amount }}</td>
          <td>{{ transaction.timestamp }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
      <p>No transactions are available.</p>
  {% endif %}
</div>
{% endblock content %}
