{% extends "form_base.html" %}
{% load i18n static %}
{% block content_form %}
<form method="post" class="m-4 grid-place-items-center">
  {% csrf_token %}
  {% include 'partials/form.html' with form=form %}
  <button type="submit" class="btn btn-primary w-full mt-4">{% trans "Transfer" %}</button>
  {% include 'partials/modal.html' with message=_('Are you sure you want to transfer this money?') modalName='transfer_modal' %}
</form>

<script src={% static 'js/modal.js' %} modalName='transfer_modal'></script>

{% endblock %}
