{% load static tailwind_tags i18n pwa %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Namubufferi</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Open+Sans&display=swap" rel="stylesheet">
    {% tailwind_preload_css v="3" %}
    {% tailwind_css v="3" %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% progressive_web_app_meta %}
  </head>

  <body class="font-sans lg:font-sans-xl">
    {% if user.is_authenticated %}
    <div class="grid grid-cols-2 fixed top-0 right-0 z-50 m-4 px-4  p-2 h-12 w-36 rounded-full bg-primary ">
      <p class="my-auto font-bold text-xl text-white">{{ user.balance }}€</p>
      <!-- start static/main.css -->
      <div>
        <input type="checkbox" name="nav-toggle" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul class="text-xl ">
            <li><a href="{% url 'ledger:buy' %}" class="text-white">🛒 {% trans "Buy" %}</a></li>
            <li><a href="{% url 'ledger:transfer' %}" class="text-white">💸 {% trans "Transfer" %}</a></li>
            <li><a href="{% url 'ledger:funds' %}" class="text-white">💰 {% trans "Add funds" %}</a></li>
            <li><a href="{% url 'ledger:transactions' %}" class="text-white">📊 {% trans "My Transactions" %}</a></li>
            <li><a href="{% url 'accounts:profile' %}" class="text-white">😃 {% trans "Profile" %}</a></li>
            <li><a href="{% url 'accounts:logout' %}" class="text-white">🔒 {% trans "Logout" %}</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span class="nav-toggle-label-span"></span>
        </label>
      </div>
      <!-- end static/main.css -->
    </div>
    {% endif %}
    {% include "partials/messages.html" %}
    {% block content %} {% endblock content %}
    </div>
  </body>
</html>
