{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="lemonade">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Namubufferi</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'athene/style.css' %}" />
    <link rel="stylesheet" href="{% static 'landing/style.css' %}" /> {% endcomment %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daisyui@3.0.3/dist/full.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <style>
      body {
        min-height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      .m-2 {
        flex: 1;
      }

      footer {
        margin-top: auto;
        width: 100%;
        height: 100px;
        position: relative;
        bottom: 0;
      }
    </style>
  </head>

  <body>
    <div class="navbar bg-primary text-primary-content">
      <div class="navbar-start">
        {% if user.is_authenticated %}
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </label>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Item 1</a></li>
            <li>
              <a>Parent</a>
              <ul class="p-2">
                <li><a>Submenu 1</a></li>
                <li><a>Submenu 2</a></li>
              </ul>
            </li>
            <li><a>Item 3</a></li>
          </ul>
        </div>
        {% endif %}
        <a class="btn btn-ghost normal-case text-xl" href="{% url "ledger:index" %}">Namubufferi</a>
      </div>
      {% if user.is_authenticated %}
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li><a>Item 1</a></li>
            <li tabindex="0">
              <details>
                <summary>Hello</summary>
                <ul class="p-2">
                  <li><a>Submenu 1</a></li>
                  <li><a>Submenu 2</a></li>
                </ul>
              </details>
            </li>
            <li><a>Item 3</a></li>
          </ul>
        </div>
      {% endif %}
      <div class="navbar-end">
        {% if user.is_authenticated %}
        <a class="btn btn-ghost" href="{% url "accounts:logout" %}">Logout</a>
        {% else %}
        <a class="btn btn-ghost" href="{% url "accounts:login" %}">Login</a>
        {% endif %}
      </div>
    </div>
    <br>
    <div class="m-2">
      {% include "partials/messages.html" %}
      {% block content %} {% endblock content %}
    </div>
    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
      <div>
        <p>Copyright @ {% now "Y" %} - All right reserved by Athene Guild.</p>
      </div>
    </footer>
  </body>
</html>
