{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="lemonade">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Namubufferi</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    {% tailwind_preload_css v="3" %}
    {% tailwind_css v="3" %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <style>
      body {
        min-height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      .m-2 {
        flex: 1;
      }

      footer {
        margin-top: auto;
        width: 100%;
        height: 100px;
        position: relative;
        bottom: 0;
      }
    </style>
  </head>

  <body>
    <div class="navbar bg-primary text-primary-content">
      <div class="navbar-start">
        {% if user.is_authenticated %}
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </label>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a class="link link-hover link-neutral" href="{% url 'ledger:index' %}">🏠 Home</a></li>
            <li><a class="link link-hover link-neutral" href="{% url 'ledger:buy' %}">🛒 Buy</a></li>
            <li><a class="link link-hover link-neutral" href="{% url 'ledger:transfer' %}">💸 Transfer</a></li>
            <li><a class="link link-hover link-neutral" href="{% url 'ledger:funds' %}">💰 Add funds</a></li>
            <li><a class="link link-hover link-neutral" href="{% url 'ledger:all' %}">📊 My Transactions</a></li>
            <li><a class="link link-hover link-neutral" href="{% url 'accounts:logout' %}">🔒 Logout</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="navbar-center">
        <a class="btn btn-ghost normal-case text-xl" href="{% url "ledger:index" %}">Namubufferi</a>
      </div>
      <div class="navbar-end"></div>
    </div>
    <br>
    <div class="m-5">
      {% include "partials/messages.html" %}
      
      {% block content %} {% endblock content %}
    </div>
    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
      <div>
        <p>Copyright @ {% now "Y" %} - All right reserved by Athene Guild.</p>
      </div>
    </footer>
  </body>
</html>
