body > * {
  padding: 16pt;
}

body > :is(header, footer) {
  overflow: auto;
  background-color: var(--athene-green-medium);
}

main {
  min-height: 100vh;
  overflow: auto;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  padding: 0.5em 1em;
  display: block;
}

nav .push {
  margin-left: auto;
}

table {
  width: 100%;
  overflow: auto;
}

table caption {
  text-align: left;
}

table th {
  text-align: left;
}

footer {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  th,
  td,
  tr {
    display: block;
  }

  tr {
    border-bottom: solid 1px;
    padding-bottom: 1em;
  }
}

body > header,
body > footer,
body > header a,
body > footer a {
  color: var(--athene-bg);
  text-transform: uppercase;
  font-weight: 700;
}
